In [1]:
import pandas as pd
import numpy as np

#LOAD DATASET

In [2]:
# Load the dataset into a DataFrame
df = pd.read_csv('/content/V5.csv')

# Check the first few rows of the dataframe to ensure it's loaded correctly
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

#What is the shape of the dataset ?

In [3]:
df.shape

(10000, 12)

In [4]:
# Replace all "?" with NaN
df.replace("?", np.nan, inplace=True)

#How many unknown ("?) values are present in the dataset? Remove/Delete unknown ("?) values present in the dataset to make it null value.
Remove/Delete - means it will show NAN in place of "?"
Note: If there is no value present in the dataset it is represented as NAN(read pandas documentation for all the other ways to represent null values) in data

In [5]:
# Count the number of NaN values in the entire dataset
unknown_count = df.isna().sum().sum()
print("Number of unknown (NaN) values:", unknown_count)

Number of unknown (NaN) values: 5548

#What is the value present at the 692th indexed row and 0th indexed column in the data ?

#dataframe[692,0] (simpy saying this in a matrix)
#rows/ columns starts indexing from zero(0) in python

In [6]:
# Get the shape of the dataset
shape = df.shape
print("Shape of the dataset:", shape)

Shape of the dataset: (10000, 12)

In [7]:
# Get the value at row 692, column 0
value_692_0 = df.iloc[692, 0]
print("Value at row 692 and column 0:", value_692_0)

Value at row 692 and column 0: 2009-11-16

What is the value present at the 546th indexed row and 7th indexed column in the data ?
 dataframe[546,7] (simpy saying this in a matrix)
 rows/ columns starts indexing from zero(0) in python

In [8]:
# Get the value at row 546, column 7
value_546_7 = df.iloc[546, 7]
print("Value at row 546 and column 7:", value_546_7)

Value at row 546 and column 7: 3

#What are the unique values present in the Locality feature of the dataset?

In [9]:
# Get unique values in the 'Locality' column
locality_unique_values = df['Locality'].dropna().unique()
print("Unique values in 'Locality':", locality_unique_values)

Unique values in 'Locality': ['Waterbury' 'Bridgeport' 'Greenwich' 'Norwalk' 'Fairfield'
 'West Hartford' 'Stamford']

#Which of the following features have missing(NaN) values present in the dataset?
#(Note: compute after removing "?")

In [10]:
# Check which features (columns) have missing (NaN) values
missing_values_features = df.columns[df.isna().any()].tolist()
print("Features with missing values:", missing_values_features)

Features with missing values: ['Locality', 'Estimated Value', 'Property', 'carpet_area']

#Which of the following feature has most missing(NaN) values present in the dataset?
 (Note: compute after removing "?")

In [11]:
# Find the feature with the most missing values
feature_most_missing = df.isna().sum().idxmax()
print("Feature with the most missing values:", feature_most_missing)

Feature with the most missing values: Property

#Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?
 (Note: compute after removing "?")

In [12]:
# Drop rows with more than 2 missing values
df_dropped_2 = df[df.isna().sum(axis=1) <= 2]
remaining_after_dropping_2 = df_dropped_2.shape[0]
print("Number of samples remaining after dropping rows with more than 2 missing values:", remaining_after_dropping_2)

Number of samples remaining after dropping rows with more than 2 missing values: 9917

#Drop all the samples(rows) with missing values in the original dataframe. How many samples remains after that ?
 (Note: compute after removing "?")

In [13]:
# Drop rows with any missing values
df_dropped_all = df.dropna()
remaining_after_dropping_all = df_dropped_all.shape[0]
print("Number of samples remaining after dropping rows with any missing values:", remaining_after_dropping_all)

Number of samples remaining after dropping rows with any missing values: 5449