#import

In [1]:
import pandas as pd
import numpy as np

# Load the dataset (replace 'data.csv' with the correct path or URL)
df = pd.read_csv('/content/V5 (1).csv')

# Replace "?" with NaN
df.replace("?", np.nan, inplace=True)

#Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 0th indexed row in the selected dataframe. (row/ column indexed from zero(0) in python/pandas)

In [2]:
# Select all even indexed rows (0, 2, 4, ...)
even_rows_df = df.iloc[::2]

# Get the value in the 3rd indexed column of the 0th indexed row
value_even_rows_0_3 = even_rows_df.iloc[0, 3]
print("Value in the 3rd indexed column of the 0th indexed row in even indexed rows:", value_even_rows_0_3)

Value in the 3rd indexed column of the 0th indexed row in even indexed rows: 111440.0

#Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))

In [3]:
# Get the value in the 3rd indexed column of the 332nd indexed row in even indexed rows
value_even_rows_332_3 = even_rows_df.iloc[332, 3]
print("Value in the 3rd indexed column of the 332nd indexed row in even indexed rows:", value_even_rows_332_3)

Value in the 3rd indexed column of the 332nd indexed row in even indexed rows: 256200.0

#Select all the odd indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))
 Please consider case sensitivity while giving your solution capital letter ≠ small letter
  If it is a string don't write quotes in the solution.

In [4]:
# Select all odd indexed rows (1, 3, 5, ...)
odd_rows_df = df.iloc[1::2]

# Get the value in the 3rd indexed column of the 332nd indexed row in odd indexed rows
value_odd_rows_332_3 = odd_rows_df.iloc[332, 3]
print("Value in the 3rd indexed column of the 332nd indexed row in odd indexed rows:", value_odd_rows_332_3)

Value in the 3rd indexed column of the 332nd indexed row in odd indexed rows: 352940.0

#Select all the odd indexed columns from the given dataset. What is the value in the 5th indexed column of the 100th indexed row in the selected dataframe. (row/ column indexed from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter
If it is a string don't write quotes in the solution.

In [5]:
# Select odd indexed columns (1, 3, 5, ...)
odd_columns_df = df.iloc[:, 1::2]

# Get the value in the 5th indexed column of the 100th indexed row in odd indexed columns
value_odd_columns_100_5 = odd_columns_df.iloc[100, 5]
print("Value in the 5th indexed column of the 100th indexed row in odd indexed columns:", value_odd_columns_100_5)

Value in the 5th indexed column of the 100th indexed row in odd indexed columns: West

#Select all the even indexed columns and even indexed rows from the given dataset. What is the value in the 3th indexed column of the 255th indexed row in the selected dataframe. (row/ column indexed/starts from zero(0))
Please consider case sensitivity while giving your solution capital letter ≠ small letter
If it is a string don't write quotes in the solution.

In [6]:
# Select even indexed rows and even indexed columns
even_even_df = df.iloc[::2, ::2]

# Get the value in the 3rd indexed column of the 255th indexed row
value_even_even_255_3 = even_even_df.iloc[255, 3]
print("Value in the 3rd indexed column of the 255th indexed row in even indexed rows and columns:", value_even_even_255_3)

Value in the 3rd indexed column of the 255th indexed row in even indexed rows and columns: Detached House

#Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data.

In [7]:
# Extract the 'Year' column, assuming it's in the format of a 4-digit year (e.g., 2020)
df['Year'] = pd.to_datetime(df['Year'], errors='coerce').dt.year

# Get the six most recent years
recent_years = df['Year'].dropna().unique()
recent_years.sort()
most_recent_years = recent_years[-6:]

# Filter rows belonging to the six most recent years
recent_years_df = df[df['Year'].isin(most_recent_years)]

# Get the number of rows
num_recent_samples = recent_years_df.shape[0]
print("Number of samples from the six most recent years:", num_recent_samples)

Number of samples from the six most recent years: 10000

#Determine the number of samples (rows) in the dataset which has num_rooms = 3 and num_bathrooms = 3

In [8]:
# Filter rows where num_rooms = 3 and num_bathrooms = 3
num_rooms_bathrooms_3_df = df[(df['num_rooms'] == 3) & (df['num_bathrooms'] == 3)]

# Get the number of rows
num_rooms_bathrooms_3_count = num_rooms_bathrooms_3_df.shape[0]
print("Number of samples where num_rooms = 3 and num_bathrooms = 3:", num_rooms_bathrooms_3_count)

Number of samples where num_rooms = 3 and num_bathrooms = 3: 2730

#Determine the number of samples (rows) in the dataset which has num_rooms = 3 or num_bathrooms = 3

In [9]:
# Filter rows where num_rooms = 3 or num_bathrooms = 3
num_rooms_or_bathrooms_3_df = df[(df['num_rooms'] == 3) | (df['num_bathrooms'] == 3)]

# Get the number of rows
num_rooms_or_bathrooms_3_count = num_rooms_or_bathrooms_3_df.shape[0]
print("Number of samples where num_rooms = 3 or num_bathrooms = 3:", num_rooms_or_bathrooms_3_count)

Number of samples where num_rooms = 3 or num_bathrooms = 3: 8591

#
In the Year 2022, how many houses (rows) located in the Greenwich Locality have exactly num_room == 3, and facing towards either the North or East?

In [12]:
# Print all column names to check for correct spelling and presence
print(df.columns)

Index(['Date', 'Year', 'Locality', 'Estimated Value', 'Sale Price', 'Property',
       'Residential', 'num_rooms', 'num_bathrooms', 'carpet_area',
       'property_tax_rate', 'Face'],
      dtype='object')

In [13]:
# Filter for houses in 2022, Greenwich locality, num_rooms = 3, and facing North or East
greenwich_2022_df = df[(df['Year'] == 2022) &
                       (df['Locality'] == 'Greenwich') &
                       (df['num_rooms'] == 3) &
                       (df['Face'].isin(['North', 'East']))]

# Get the number of rows
greenwich_2022_count = greenwich_2022_df.shape[0]
print("Number of houses in Greenwich, 2022, with num_rooms = 3 and facing North or East:", greenwich_2022_count)

Number of houses in Greenwich, 2022, with num_rooms = 3 and facing North or East: 0

#Calculate the number of samples(rows) that correspond to the month of August across all the years.?

In [14]:
# Extract the month from the 'Date' column (assuming 'Date' is in datetime format)
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
august_samples_df = df[df['Date'].dt.month == 8]

# Get the number of rows
august_samples_count = august_samples_df.shape[0]
print("Number of samples in the month of August:", august_samples_count)

Number of samples in the month of August: 1050

#According to the data which Locality have highest average Sale Price?

In [15]:
# Group by Locality and calculate the average Sale Price
avg_sale_price_per_locality = df.groupby('Locality')['Sale Price'].mean()

# Find the locality with the highest average sale price
highest_avg_sale_price_locality = avg_sale_price_per_locality.idxmax()
print("Locality with the highest average Sale Price:", highest_avg_sale_price_locality)

Locality with the highest average Sale Price: Greenwich